.user-avatar {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #fff;
}
.comp {
    border: 5px solid #8a96ee;
    border-radius: 10px;
    background-color: #8a96ee;
  }


  