<div [@routerTransition]>
    <app-page-header [heading]="'Dashboard'" [icon]="'fa fa-fw fa-dashboard '"></app-page-header>
    <div class="row">
        <div class="col-md-12">
                <div class="jumbotron">
                        <h1>LA GESTION DES FRAIS PROS DE DEMAIN, DÈS AUJOURD’HUI !
                            </h1>
                        <p>
                            Gérez simplement vos notes de frais grâce à Expensya et profitez de la meilleure technologie de reconnaissance du marché.
                            
                            Rejoignez les milliers d’entreprises et de salariés qui l'utilisent chaque jour, sur les cinq continents  </p>
                       
                </div>
        </div>

        
    </div>
    
    
</div>